.bt-menu{
    margin-left: -17px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dee2e6 !important;
    background: #fff;
}

.bt-menu:active{
    background: #FFF;
}

.bt-menu:hover{
    background: #FFF;
}

.bt-menu:focus{
    background: #FFF;
}

.nome-sup{
    width: 100%;
    color: #00510F !important;
    font-weight: 700;
}

.espaco{
    display: inline-block;
    width: 100%;
    height: 20px;
}

.link-cadastro{
    font-size: 12px;
    padding: 3px;
}

.cabecalho-titulo{
    border-bottom: 4px solid #00510f;
    color: #fff;
    background: #00510f !important;
    font-weight: 700;
}

.p-cadastro{
    margin: 0 -10px -10px 0;
}

.sair-bt{
    position: absolute !important;
    right: 10px !important;
}

.item-rodape{
    list-style-type: none;
}

footer{
    background-color: #f8f9fa !important;
    padding-top: 10px;
}

.item-rodape > li > a{
    color: #333333;
    font-weight: bolder;
}

.item-rodape > li > img{
    height: 70px;
}